.text-color-blue{
    color: blue;
}
.background-color-black{
    background-color: black;
}
.background-color-vilote{
    background-color: violet;
}
.background-color-orange{
    background-color: orange;
}
.fontsize 180px{
    font-size: 180px;
}